{% extends 'base.html' %}
{% block title %}
审计
{% end %}
{% block style %}
<style>
    #auditlog_table td {word-break: keep-all; white-space:nowrap;}
    #auditlog_table th {word-break: keep-all; white-space:nowrap;}
</style>

{% end %}
{% block head_js %}
{% end %}
{% block breadcrumb %}
<li><i class="fa fa-calendar-check-o fa-fw"></i> 审计</li>
{% end %}
{% block content %}

<div class="row">
    <div class="col-sm-12 col-lg-10" style="clear: both">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-table fa-fw"></i> 审计列表
            </div>
            <div class="panel-body">
                <div class="table-responsive" style="border: 0">
                    <table width="100%" id="auditlog_table">
                        <thead>
                        <tr>
                            <th width="120px">时间</th>
                            <th>用户</th>
                            <th>Uri</th>
                            <th>Method</th>
                            <th>Request Data</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% end %}
{% block body_js %}
<script>

    $(function(){
        $('#auditlog_table').bootstrapTable({
            columns: [ {
                field: 'record_time',
                title: '记录时间',
                sortable: true,
            }, {
                field: 'username',
                title: '用户',
                sortable: true
            }, {
                field: 'uri',
                title: 'Uri',
                sortable: true
            }, {
                field: 'method',
                title: 'Method',
                sortable: true
            }, {
                field: 'reqdata',
                title: 'Request Data',
            },],
            uniqueId: "id",
            toggle: "table",
            search: "true",
            searchOnEnterKey: true,
            sidePagination: "server",
            pagination: true,
            sortName: 'record_time',
            sortOrder: 'desc',
            url:"/auditlogs/",
            responseHandler:function(data){
                return {"total": data["total"], "rows": data["data"]}
            }
        });
    })

</script>
{% end %}