{% extends 'base.html' %}
{% block title %}
日志图表
{% end %}
{% block head_js %}
<script src="{{ static_url('js/local_log_chart.js') }}"></script>
<script>
    chartobj = null
    interval = null

    check_in = false
    $("#log_content").hover(
        function(){
            check_in = true
        },
        function(){
            check_in = false
        }
    );

    $.ajax({
        url:"/local_log/file/",
        type:"GET",
        data:'',
        success:function (result) {
            var response_data = jQuery.parseJSON(result)
            var data = response_data['data']
            var select_obj = $("#local_log_chart_form select[name='local_log_file_id']")
            for(var i=0; i<data.length; i++){
                select_obj.append("<option rowid='"+ data[i]["id"] +
                    "' value='"+ data[i]["id"] +"'>"+ data[i]["path"] +"</option>")
            }
        },
        error:function (result) {}
    })
</script>
{% end %}
{% block breadcrumb %}
<li><i class="fa fa-line-chart fa-fw" ></i> 日志图表</li>
{% end %}
{% block content %}
<div class="row">
    <div class="col-sm-12 col-lg-10">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-10 col-lg-10">
                        <form role="form" class="form-horizontal" id="local_log_chart_form">
                            <div></div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label>日志文件 *</label>
                                    <select class="form-control selectpicker" name="local_log_file_id" data-live-search="true">
                                        <option value=""> ---- </option>
                                    </select>
                                    <span class="error_text" name="local_log_file_id_error"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label>监控项</label>
                                    <select multiple class="form-control selectpicker" name="monitor_item_id" data-live-search="true">
                                        <option value="0" selected>total</option>
                                    </select>
                                    <span class="error_text" name="monitor_item_id_error"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button type="button" class="btn btn-default" onclick="show_24h_chart(this)">查看24时</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <input type="text" class="form-control form_datetime" name="begin_time" placeholder="开始时间">
                                    <span class="error_text" name="begin_time_error"></span>
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control form_datetime" name="end_time" placeholder="结束时间">
                                    <span class="error_text" name="end_time_error"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button type="button" class="btn btn-default" onclick="show_interval_chart(this)">连续查询</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <input type="text" class="form-control form_date" name="date" placeholder="日期一">
                                    <span class="error_text" name="date_error"></span>
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control form_date" name="date" placeholder="日期二">
                                    <span class="error_text" name="date_error"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button type="button" class="btn btn-default" onclick="show_contrast_chart(this)">日期对比</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-lg-10" style="clear: both">
        <div class="panel panel-default" style="display: none">
            <div class="panel-body" id="log_chart">
            </div>
        </div>
    </div>
</div>

{% end %}
{% block body_js %}
<script>
    $(function(){
        $("#local_log_chart_form select[name='local_log_file_id']").change(function(){
            var id = $(this).find("option:selected").attr("rowid")
            $("#local_log_chart_form select[name='monitor_item_id']").html(
                "<option value='0' selected> total </option>"
            )
            if(id){
                $.ajax({
                    url:"/local_log/monitor/item/",
                    type:"GET",
                    data:{"local_log_file_id":id},
                    success:function (result) {
                        var response_data = jQuery.parseJSON(result)
                        var data = response_data['data']
                        for(var i=0; i<data.length; i++){
                            $("#local_log_chart_form select[name='monitor_item_id']").append("<option value='"+
                                data[i]["id"] +"'>"+ data[i]["search_pattern"] +"</option>")
                        }
                        $("#local_log_chart_form select[name='monitor_item_id']").selectpicker('refresh');
                        $("#local_log_chart_form select[name='monitor_item_id']").selectpicker('render');
                    },
                    error:function (result) {}
                })
            }
        })

        Highcharts.setOptions({ global: { useUTC: false } })
    })

    $(".form_datetime").datetimepicker({
        language: 'zh-CN',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
    });
    $(".form_date").datetimepicker({
        language: 'zh-CN',
        format: "yyyy-mm-dd",
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        minView: 2
    });
</script>
{% end %}