{% extends 'base.html' %}
{% block title %}
日志轮询
{% end %}
{% block head_js %}
<script>
    check_in = false
    $(function(){
        $("#log_content").hover(
        function(){
            check_in = true
        },
        function(){
            check_in = false
        }
    );
    })


    $.ajax({
        url:"/local_log/file/",
        type:"GET",
        data:'',
        success:function (result) {
            var response_data = jQuery.parseJSON(result)
            var data = response_data['data']
            var select_obj = $("#keepread_local_log_form select[name='path']")
            for(var i=0; i<data.length; i++){
                select_obj.append("<option rowid='"+ data[i]["id"] +
                    "' value='"+ data[i]["path"] +"'>"+ data[i]["path"] +"</option>")
            }
            $("#keepread_local_log_form select[name='path']").selectpicker('refresh');
            $("#keepread_local_log_form select[name='path']").selectpicker('render');
        },
        error:function (result) {}
    })
</script>
{% end %}
{% block style %}
<style>
</style>
{% end %}
{% block breadcrumb %}
<li><i class="fa fa-heartbeat fa-fw" ></i> 日志轮询</li>
{% end %}
{% block content %}
<div class="row">
    <div class="col-sm-12 col-lg-10">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-10 col-lg-10">
                        <form role="form" id="keepread_local_log_form">
                            <div class="form-group">
                                <label>日志路径 *</label>
                                <select class="form-control selectpicker" name="path" data-live-search="true">
                                    <option value=""> ---- </option>
                                </select>
                                <span class="error_text" name="path_error"></span>
                            </div>
                            <div class="form-group">
                                <label>匹配模式</label>
                                <select class="form-control selectpicker" name="search_pattern" data-live-search="true">
                                    <option value=""> ---- </option>
                                </select>
                                <span class="error_text" name="search_pattern_error"></span>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="other_search_pattern" placeholder="自定义匹配模式，输入正确的正则表达式并优先匹配">
                            </div>
                            <div class="form-group">
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="filter_search_line" checked> 仅查看和输出匹配的行
                                </label>
                            </div>
                            <button type="button" class="btn btn-default" onclick="local_log_keepread(this)">查看</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="log_stat_row" style="display: none">
    <div class="col-sm-12 col-lg-10" style="clear: both; ">
        <div class="row">
            <div class="col-lg-3 col-sm-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-flask fa-3x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div style="font-size: 25px" id="total_size">0</div>
                                <div>文件总大小 / KB</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-3">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-coffee fa-3x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div style="font-size: 25px" id="lines_size">0</div>
                                <div>输出大小 / KB</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-list-ol fa-3x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div style="font-size: 25px" id="lines_quantity">0</div>
                                <div>输出行数</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-filter fa-3x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div style="font-size: 25px" id="search_line_count">0</div>
                                <div>高亮行数</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<div class="row" id="log_content_row" style="display: none">
    <div class="col-sm-12 col-lg-10" style="clear: both">
        <div class="panel panel-default">
            <div class="panel-heading">
                窗口内容行数：<span id="window_line_count">0</span>
                <div class="pull-right">
                    <button class="btn btn-xs btn-primary" onclick="close_websocket()"> <i class="fa fa-stop fa-fw" style=""></i> 关闭 </button>
                    <button class="btn btn-xs btn-warning" onclick="clear_log_content()"> <i class="fa fa-trash-o fa-fw" style=""></i> 清空 </button>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12" style="max-height:500px;overflow:auto; clear: both;line-height: 20px" id="log_content">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% end %}
{% block body_js %}
<script>
    websocket = null
    settimeout = null
    function local_log_keepread(_this){
        $(".error_text").empty()
        var form_obj = $(_this).parent()
        var path = form_obj.find("select[name='path']").val()
        var other_search_pattern = form_obj.find("input[name='other_search_pattern']").val()
        if(other_search_pattern){
            var search_pattern = other_search_pattern
        }else{
            var search_pattern = form_obj.find("select[name='search_pattern']").val()
        }
        var filter_search_line = form_obj.find("input[name='filter_search_line']:checked").val()
        if(!path){
            form_obj.find("span[name='path_error']").text('日志路径是必选项')
            return false
        }

        $("#log_content_row").show()

        if(websocket){
            websocket.close()
            //clearTimeout(settimeout)
        }

        var log_content_html = "连接中 [Connection] ...<br>"
        $("#log_content").append(log_content_html)

        if(filter_search_line){
            host = "ws://" + location.hostname + ":" + location.port +
                "/local_log/keepread/?path="+ path +"&search_pattern="+ search_pattern
        }else{
            host = "ws://" + location.hostname + ":" + location.port + "/local_log/keepread/?path="+ path
        }

//        host = "ws://" + location.hostname + ":" + location.port +
//                "/local_log/keepread/?path="+ path +"&search_pattern="+ search_pattern

        websocket = new WebSocket(host)

        websocket.onopen = function(evt){
        }      // 建立连接
        websocket.onmessage = function(evt){    // 获取服务器返回的信息
            var result = $.parseJSON(evt.data)
            if(result['code']==0){
                if(result['type']=='on_open'){
                    $("#log_content").empty()
                    $("#log_stat_row").show()
                    $("#log_content").append("<span style='color: green'>连接成功 [Connection successful] ...</span><br><br>")
                    $("#total_size").text((result['data']['total_size']/1024).toFixed(2))
                    $("#lines_size").text(0.00)
                    $("#lines_quantity").text(0)
                    $("#search_line_count").text(0)
                    $("#window_line_count").text(0)
                    //read_begin_size = result['data']['logfile_size']
                }else{
                    if (log_content_searching(result["data"]["lines_quantity"] > 0)){
                        var search_result = log_content_searching(result["data"]["lines"], search_pattern)
                        $("#log_content").append(search_result["log_content"])
                        $("#total_size").text((result['data']['total_size']/1024).toFixed(2))
                        $("#lines_size").text((parseInt($("#lines_size").text()) + (result['data']['lines_size']/1024)).toFixed(2))
                        $("#lines_quantity").text(parseInt($("#lines_quantity").text()) + result['data']['lines_quantity'])
                        $("#search_line_count").text(parseInt($("#search_line_count").text()) + search_result['search_count'])
                        $("#window_line_count").text(parseInt($("#window_line_count").text()) + result["data"]["lines"].length)
                        console.log(check_in)
                        if(!check_in) {
                            $("#log_content").scrollTop($("#log_content")[0].scrollHeight);
                        }
                    }
                }

//                settimeout = setTimeout(function(){
//                    websocket.send('')
//                }, 5000);
            }else{
                if(result['type']=="on_open"){
                    if(result['code']==400){
                        for (var k in result["error"]) {
                            form_obj.find("[name='"+ k +"_error']").text(result["error"][k])
                        }
                    }
                }

                $("#log_content").append(
                    '<span class="error_text">' + "错误 [Code: "+ result["code"] + "] " + result["msg"] + "</span><br>"
                )

                if(!check_in) {
                    $("#log_content").scrollTop($("#log_content")[0].scrollHeight);
                }
                websocket.close()
            }
        }

        websocket.onerror = function(evt){
            if(result['type']=='on_open'){
                $("#log_content").empty()
                $("#log_content").append("<span class=\"error_text\">连接失败 [Connection failed] ...</span><br>")
            }else{
                $("#log_content").append("<br><span class=\"error_text\">连接失败 [Connection failed] ...</span><br>")
            }
            if(!check_in){
                $("#log_content").scrollTop($("#log_content")[0].scrollHeight);
            }
        }

        websocket.onclose = function(evt){
            $("#log_content").append("<br><span class=\"error_text\">连接关闭 [Connection closed] ...</span><br>")
            if(!check_in) {
                $("#log_content").scrollTop($("#log_content")[0].scrollHeight);
            }
        }
    }

    $(function(){
        $("#keepread_local_log_form select[name='path']").change(function(){
            var id = $(this).find("option:selected").attr("rowid")
            $("#keepread_local_log_form select[name='search_pattern']").html("<option value=''> ---- </option>")
            if(id){
                $.ajax({
                    url:"/local_log/monitor/item/",
                    type:"GET",
                    data:{"local_log_file_id":id},
                    success:function (result) {
                        var response_data = jQuery.parseJSON(result)
                        var data = response_data['data']
                        for(var i=0; i<data.length; i++){
                            $("#keepread_local_log_form select[name='search_pattern']").append("<option value='"+
                                data[i]["search_pattern"] +"'>"+ data[i]["search_pattern"] +"</option>")
                        }
                        $("#keepread_local_log_form select[name='search_pattern']").selectpicker('refresh');
                        $("#keepread_local_log_form select[name='search_pattern']").selectpicker('render');
                    },
                    error:function (result) {}
                })
            }
        })
    })

    function close_websocket(){
        if(websocket){
            websocket.close()
            //clearTimeout(settimeout)
        }
    }

    function clear_log_content(){
        $("#log_content").empty()
        $("#window_line_count").text(0)
    }
</script>
{% end %}