{% extends 'base.html' %}
{% block title %}
日志文件
{% end %}
{% block style %}
<style>
    #monitorItemExplainModal small {margin-bottom: 5px}
    #monitorItemExplainModal span {font-size: 14px}
</style>
{% end %}
{% block head_js %}
<script src="{{ static_url('js/logfile.js') }}"></script>
{% end %}
{% block breadcrumb %}
<li><i class="fa fa-file fa-fw"></i> 日志文件</li>
{% end %}
{% block content %}

<div class="row">
    <div class="col-sm-12 col-lg-10" style="clear: both">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-table fa-fw"></i> 日志列表
                <div class="pull-right">
                    <button class="btn btn-xs btn-success role2" data-toggle="modal" data-target="#addModal"><i
                            class="fa fa-plus fa-fw" style=""></i> 添加
                    </button>
                </div>
            </div>
            <div class="panel-body">
                <div class="table-responsive" style="border: 0">
                    <table width="100%" class="table table-striped table-bordered table-hover"
                           id="logfile_table">
                        <thead>
                        <tr>
                            <th>位置</th>
                            <th>主机地址</th>
                            <th>日志路径</th>
                            <th>备注</th>
                            <th>录入时间</th>
                            <th>选项</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- 添加日志文件模态框（Add Modal） -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="addModalLabel">
                    <i class="fa fa-plus fa-fw" style=""></i> 添加文件
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div></div>
                        <form role="form" id="add_logfile_form">
                            {% raw xsrf_form_html() %}
                            <div class="form-group">
                                <label>位置 *</label>
                                <div>
                                    <div class="radio-inline">
                                        <label>
                                            <input type="radio" name="location" value="1" checked>本地
                                        </label>
                                    </div>
                                    <div class="radio-inline">
                                        <label>
                                            <input type="radio" name="location" value="2">远程
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>主机地址 *</label>
                                <input class="form-control" name="host" placeholder="Host" value="localhost">
                                <span class="error_text"></span>
                            </div>
                            <div class="form-group">
                                <label>文件路径 *</label>
                                <input class="form-control" name="path" placeholder="Path">
                                <span class="error_text"></span>
                            </div>
                            <div class="form-group">
                                <label>备注 *</label>
                                <input class="form-control" name="comment" placeholder="Comment">
                                <span class="error_text"></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary" onclick="add_file()">
                    提交
                </button>
            </div>
        </div>
    </div>
</div>

<!-- 更新本地日志文件模态框（Update Modal） -->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="updateModalLabel">
                    <i class="fa fa-pencil-square-o fa-fw" style=""></i> 编辑文件
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div></div>
                        <form role="form" id="update_logfile_form">
                            {% raw xsrf_form_html() %}
                            <div class="form-group">
                                <label>位置 *</label>
                                <div>
                                    <div class="radio-inline">
                                        <label>
                                            <input type="radio" name="location" value="1" checked>本地
                                        </label>
                                    </div>
                                    <div class="radio-inline">
                                        <label>
                                            <input type="radio" name="location" value="2">远程
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>主机地址 *</label>
                                <input class="form-control" name="host" placeholder="Host" value="localhost">
                                <span class="error_text"></span>
                            </div>
                            <div class="form-group">
                                <label>文件路径 *</label>
                                <input class="form-control" name="path" placeholder="Path">
                                <span class="error_text"></span>
                            </div>
                            <div class="form-group">
                                <label>备注 *</label>
                                <input class="form-control" name="comment" placeholder="Comment">
                                <span class="error_text"></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary" onclick="update_file()">
                    提交
                </button>
            </div>
        </div>
    </div>
</div>

<!-- 监控项模态框（Monitor Item Modal） -->
<div class="modal fade" id="monitorItemModal" tabindex="-1" role="dialog" aria-labelledby="monitorItemModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="monitorItemModalLabel">
                    <i class="fa fa-cogs fa-fw" style=""></i> 监控项
                    <a href="#" onclick="open_monitor_item_explain_modal()" title="监控项说明"><i class="fa fa-question"></i></a>
                </h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
            </div>
        </div>
    </div>
</div>


<!-- 图表模态框（Chart Modal） -->
<div class="modal fade" id="chartModal" tabindex="-1" role="dialog" aria-labelledby="chartModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="chartModalLabel">
                    <i class="fa fa-line-chart fa-fw" style=""></i> 图表
                </h4>
            </div>
            <div class="modal-body">
                <div id="log_chart"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
            </div>
        </div>
    </div>
</div>

<!-- 监控项说明模态框（Monitor Item Explain Modal） -->
<div class="modal fade" id="monitorItemExplainModal" tabindex="-1" role="dialog" aria-labelledby="monitorItemExplainModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="monitorItemExplainModalLabel">
                    <i class="fa fa-question fa-fw" style=""></i> 监控项说明
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <blockquote>
                            <span>匹配模式</span>
                            <small>
                                <cite>用于日志阅读、轮询 高亮匹配，日志 监控、图表、告警 匹配的字符；</cite>
                            </small>
                            <small>
                                <cite>格式要求：正则表达式或关键字</cite>
                            </small>
                            <span>备注</span>
                            <small>
                                <cite>监控项名称或注释</cite>
                            </small>
                            <small>
                                <cite>格式要求：精简</cite>
                            </small>
                            <span>告警</span>
                            <small>
                                <cite>是否开启告警</cite>
                            </small>
                            <small>
                                <cite>格式要求：开启后，<b>检查区间</b>、<b>触发公式</b>、<b>钉钉webhook</b>必填</cite>
                            </small>
                            <span>检查区间(m)</span>
                            <small>
                                <cite>检查匹配告警的时间区间，每间隔n分钟进行一次检查；</cite>
                            </small>
                            <small>
                                <cite>格式要求：正整数</cite>
                            </small>
                            <small>
                                <cite>如n=5：每5分钟，统计过去5分钟的匹配总数，判断匹配总数是否满足<b>触发公式</b>，满足则进行告警</cite>
                            </small>
                            <span>触发公式</span>
                            <small>
                                <cite>判断<b>检查区间</b>内的匹配总数是否满足此公式，满足则进行告警</cite>
                            </small>
                            <small>
                                <cite>格式要求：n1&lt;{}、n1&lt;={}、{}&lt;n1、{}&lt;=n1、n1&lt;{}&lt;n2、n1&lt;={}&lt;n2、
                                    n1&lt;{}&lt;=n2、n1&lt;={}&lt;=n2 等，其中n1、n2 为自定义正整数
                                </cite>
                            </small>
                            <span>钉钉webhook</span>
                            <small>
                                <cite>钉钉小机器人的消息推送https地址，钉钉群组-群机器人-自定义webhook</cite>
                            </small>
                             <small>
                                <cite>格式要求：https://...</cite>
                            </small>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
            </div>
        </div>
    </div>
</div>



{% end %}
{% block body_js %}
<script src="{{ static_url('js/chart.js') }}"></script>
<script>
    $.ajax({
        url: "/logfiles/",
        type: "GET",
        data: '',
        success: function (result) {
            $("#logfile_table tbody").empty()
            var response_data = jQuery.parseJSON(result)
            var data = response_data['data']
            for (var i = 0; i < data.length; i++) {
                var tr_html = "<tr id='tr" + data[i]["id"] + "'>" +
                    "<td>" + (data[i]["location"]==1?"本地":"远程") + "</td>" +
                    "<td>" + data[i]["host"] + "</td>" +
                    "<td>" + data[i]["path"] + "</td>" +
                    "<td>" + data[i]["comment"] + "</td>" +
                    "<td>" + data[i]["create_time"] + "</td>" +
                    "<td>" +
                    "<button class='btn btn-xs btn-danger role2' " +
                    "onclick='delete_file(" + data[i]["id"] + ")'>删除</button>&nbsp;" +
                    "<button class='btn btn-xs btn-warning role2' " +
                    "onclick='open_update_file_modal(" + data[i]["id"] + ")'>编辑</button>&nbsp;" +
                    "<button class='btn btn-xs btn-info' " +
                    "onclick='open_chart_modal(" + data[i]["id"] + ")'>图表</button>&nbsp;" +
                    "<button class='btn btn-xs btn-primary'" +
                    "onclick='open_monitor_item_modal(" + data[i]["id"] + ")'>监控项</button>" +
                    "</td></tr>"
                $("#logfile_table tbody").append(tr_html)
            }
        },
        error: function (result) {}
    })

    $(function () {
        logfile_datatable = $('#logfile_table').DataTable({
            aaSorting: [[4, "desc"]],
            language: {
                "emptyTable": "表中没有可用数据",
                "info": "当前 _START_ - _END_ 条，共 _TOTAL_ 条",
                "infoFiltered": "",
                "infoPostFix": "",
                "thousands": ",",
                "infoEmpty": "_TOTAL_ 条",
                "lengthMenu": "每页 _MENU_ 条",
                "loadingRecords": "加载中...",
                "processing": "处理中...",
                "search": "搜索:",
                "paginate": {
                    "first": "首页",
                    "last": "尾页",
                    "next": "下一页",
                    "previous": "上一页"
                },
            }
        });
    })
</script>
{% end %}