{% extends 'base.html' %}
{% block title %}
日志文件
{% end %}
{% block style %}
<style>
    #monitorItemExplainModal small {margin-bottom: 5px}
    #monitorItemExplainModal span {font-size: 14px}
    #logfile_table td {word-break: keep-all; white-space:nowrap;}
    #logfile_table th {word-break: keep-all; white-space:nowrap;}
    .bootstrap-tagsinput {
        width: 100%;
    }
</style>
{% end %}
{% block head_js %}
<script src="{{ static_url('js/logfile.js') }}"></script>
<script>
</script>
{% end %}
{% block breadcrumb %}
<li><i class="fa fa-file fa-fw"></i> <script>document.write(_("Logfiles"))</script> </li>
{% end %}
{% block content %}

<div class="row">
    <div class="col-sm-12 col-lg-10" style="clear: both">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-table fa-fw"></i> <script>document.write(_("Logfile list"))</script>
                <div class="pull-right">
                    <button class="btn btn-xs btn-success role2" data-toggle="modal" data-target="#addModal">
                        <i class="fa fa-plus fa-fw" style=""></i> <script>document.write(_("Add"))</script>
                    </button>
                </div>
            </div>
            <div class="panel-body">
                <div class="table-responsive" style="border: 0">
                    <table id="logfile_table">
                    </table>
                </div>
            </div>

            <div style="text-align:center; margin-top:2%; clear: both" id="paging">
            </div>
        </div>
    </div>
</div>


<!-- 添加日志文件模态框（Add Modal） -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="addModalLabel">
                    <i class="fa fa-plus fa-fw" style=""></i> <script>document.write(_("Add logfile"))</script>
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div></div>
                        <form role="form" id="add_logfile_form">
                            {% raw xsrf_form_html() %}
                            <div class="form-group">
                                <label><script>document.write(_("Name"))</script> *</label>
                                <input class="form-control" name="name" placeholder="Name">
                                <span class="error_text"></span>
                            </div>
                            <div class="form-group">
                                <label><script>document.write(_("Path"))</script> *</label>
                                <input class="form-control" name="path" placeholder="Path">
                                <span class="error_text"></span>
                            </div>
                            <div class="form-group">
                                <label><script>document.write(_("Host"))</script> *</label>
                                <input class="form-control" name="host" placeholder="Host" data-role="tagsinput">
                                <span class="error_text"></span>
                            </div>
                            <div class="form-group">
                                <label><script>document.write(_("Comment"))</script> *</label>
                                <input class="form-control" name="comment" placeholder="Comment">
                                <span class="error_text"></span>
                            </div>
                            <div class="form-group">
                                <label><script>document.write(_("Monitor_choice"))</script> *</label>
                                <div>
                                    <div class="radio-inline">
                                        <label>
                                            <input type="radio" name="monitor_choice" value="0" checked><script>document.write(_("Positive Sort First File"))</script>
                                        </label>
                                    </div>
                                    <div class="radio-inline">
                                        <label>
                                            <input type="radio" name="monitor_choice" value="-1"><script>document.write(_("Positive Sort Last File"))</script>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><script>document.write(_("Close"))</script>
                </button>
                <button type="button" class="btn btn-primary" onclick="add_logfile()">
                    <script>document.write(_("Submit"))</script>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- 更新本地日志文件模态框（Update Modal） -->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="updateModalLabel">
                    <i class="fa fa-pencil-square-o fa-fw" style=""></i> <script>document.write(_("Update logfile"))</script>
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div></div>
                        <form role="form" id="update_logfile_form">
                            {% raw xsrf_form_html() %}
                            <div class="form-group">
                                <label><script>document.write(_("Name"))</script> *</label>
                                <input class="form-control" name="name" placeholder="Name">
                                <span class="error_text"></span>
                            </div>
                            <div class="form-group">
                                <label><script>document.write(_("Path"))</script> *</label>
                                <input class="form-control" name="path" placeholder="Path">
                                <span class="error_text"></span>
                            </div>
                            <div class="form-group">
                                <label><script>document.write(_("Host"))</script> *</label>
                                <input class="form-control" name="host" placeholder="Host" data-role="tagsinput">
                                <span class="error_text"></span>
                            </div>
                            <div class="form-group">
                                <label><script>document.write(_("Comment"))</script> *</label>
                                <input class="form-control" name="comment" placeholder="Comment">
                                <span class="error_text"></span>
                            </div>
                            <div class="form-group">
                                <label><script>document.write(_("Monitor_choice"))</script> *</label>
                                <div>
                                    <div class="radio-inline">
                                        <label>
                                            <input type="radio" name="monitor_choice" value="0" checked><script>document.write(_("Positive Sort First File"))</script>
                                        </label>
                                    </div>
                                    <div class="radio-inline">
                                        <label>
                                            <input type="radio" name="monitor_choice" value="-1"><script>document.write(_("Positive Sort Last File"))</script>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><script>document.write(_("Close"))</script>
                </button>
                <button type="button" class="btn btn-primary" onclick="update_logfile()">
                    <script>document.write(_("Submit"))</script>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- 监控项模态框（Monitor Item Modal） -->
<div class="modal fade" id="monitorItemModal" tabindex="-1" role="dialog" aria-labelledby="monitorItemModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="monitorItemModalLabel">
                    <i class="fa fa-cogs fa-fw" style=""></i> <script>document.write(_("Monitor item"))</script>
                    <a href="#" onclick="open_monitor_item_explain_modal()" title="监控项说明（Monitor item description）"><i class="fa fa-question"></i></a>
                </h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><script>document.write(_("Close"))</script>
                </button>
            </div>
        </div>
    </div>
</div>


<!-- 图表模态框（Chart Modal） -->
<div class="modal fade" id="chartModal" tabindex="-1" role="dialog" aria-labelledby="chartModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="chartModalLabel">
                    <i class="fa fa-line-chart fa-fw" style=""></i> <script>document.write(_("Chart"))</script>
                </h4>
            </div>
            <div class="modal-body">
                <div id="log_chart"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><script>document.write(_("Close"))</script>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- 监控项说明模态框（Monitor Item Explain Modal） -->
<div class="modal fade" id="monitorItemExplainModal" tabindex="-1" role="dialog" aria-labelledby="monitorItemExplainModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="monitorItemExplainModalLabel">
                    <i class="fa fa-question fa-fw" style=""></i> <script>document.write(_("Monitor item explain"))</script>
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <blockquote>
                            <span>匹配正则</span>
                            <small>
                                <cite>用于日志阅读、轮询 高亮匹配，日志 监控、图表、告警 匹配的字符；</cite>
                            </small>
                            <small>
                                <cite>格式要求：正则表达式或关键字</cite>
                            </small>
                            <span>备注</span>
                            <small>
                                <cite>监控项名称或注释</cite>
                            </small>
                            <small>
                                <cite>格式要求：精简</cite>
                            </small>
                            <span>告警</span>
                            <small>
                                <cite>是否开启告警</cite>
                            </small>
                            <small>
                                <cite>格式要求：开启后，<b>检查区间</b>、<b>触发公式</b>、<b>钉钉webhook</b>必填</cite>
                            </small>
                            <span>检查区间(m)</span>
                            <small>
                                <cite>检查匹配告警的时间区间，每间隔n分钟进行一次检查；</cite>
                            </small>
                            <small>
                                <cite>格式要求：正整数</cite>
                            </small>
                            <small>
                                <cite>如n=5：每5分钟，统计过去5分钟的匹配总数，判断匹配总数是否满足<b>触发公式</b>，满足则进行告警</cite>
                            </small>
                            <span>触发公式</span>
                            <small>
                                <cite>判断<b>检查区间</b>内的匹配总数是否满足此公式，满足则进行告警</cite>
                            </small>
                            <small>
                                <cite>格式要求：n1&lt;{}、{}&lt;n1、n1&lt;{}&lt;n2 等，其中n1、n2 为自定义正整数
                                </cite>
                            </small>
                            <span>Webhook</span>
                            <small>
                                <cite>消息推送https地址，默认支持钉钉Webhook，钉钉群组-群机器人-自定义webhook</cite>
                            </small>
                             <small>
                                <cite>格式要求：https://...</cite>
                            </small>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><script>document.write(_("Close"))</script>
                </button>
            </div>
        </div>
    </div>
</div>



{% end %}
{% block body_js %}
<script src="{{ static_url('js/chart.js') }}"></script>
<script>
    $(function(){
        function hostFormatter(value, row) {
            if(value.length > 20){
                return value.slice(0, 20) + "..."
            }else{
                return value
            }
        }

        $('#logfile_table').bootstrapTable({
            locale: language,
            columns: [{
                field: 'id',
                title: 'ID',
                sortable: true
            }, {
                field: 'name',
                title: _("Name"),
                sortable: true,
            }, {
                field: 'host',
                title: _("Host"),
                sortable: true,
                formatter: hostFormatter
            }, {
                field: 'path',
                title: _("Path"),
                sortable: true
            }, {
                field: 'comment',
                title: _("Comment"),
                sortable: true
            }, {
                field: 'create_time',
                title: _("Create time"),
                sortable: true
            }, {
                field: 'option',
                title: _("Option"),
            },],
            uniqueId: "id",
            toggle: "table",
            search: true,
            searchOnEnterKey: "true",
            sidePagination: "server",
            pagination: true,
            url:"/logfiles/",
            responseHandler:function(data){
                var rows = []
                for(var i=0;i<data["data"].length;i++){
                    data["data"][i]["option"] = "<button class='btn btn-xs btn-danger role2' " +
                                "onclick='delete_logfile(" + data["data"][i]["id"] + ")'>"+ _("Delete") +"</button>&nbsp;" +
                            "<button class='btn btn-xs btn-warning role2' " +
                                "onclick='open_update_modal(" + data["data"][i]["id"] + ")'>"+ _("Update") +"</button>&nbsp;" +
                            "<button class='btn btn-xs btn-info' " +
                                "onclick='open_chart_modal(" + data["data"][i]["id"] + ")'>"+ _("Chart") +"</button>&nbsp;" +
                            "<button class='btn btn-xs btn-primary' " +
                                "onclick='open_monitor_item_modal(" + data["data"][i]["id"] + ")'>"+ _("Monitor item") +"</button>"
                    rows.push(data["data"][i])
                }
                return {"total": data["total"], "rows": rows}
            },
            queryParams: function queryParams(params) {
                return params;
            },
        });
    })
</script>
{% end %}