                    <ul class="nav" id="side-menu">
                        <!--<li class="sidebar-search">-->
                            <!--<div class="input-group custom-search-form">-->
                                <!--<input type="text" class="form-control" placeholder="Search...">-->
                                <!--<span class="input-group-btn">-->
                                <!--<button class="btn btn-default" type="button">-->
                                    <!--<i class="fa fa-search"></i>-->
                                <!--</button>-->
                            <!--</span>-->
                            <!--</div>-->
                        <!--</li>-->
                        <li class="sidebar-search" style="padding-top: 10px; padding-bottom: 10px">
                            <button class="btn btn-social-icon btn-default btn-sm" title="https://github.com/olajowon/loggrove" onclick="window.open('https://github.com/olajowon/loggrove')">
                                <i class="fa fa-github fa-fw" style="font-size: 20px"></i>
                            </button>
                            <button class="btn btn-social-icon btn-default btn-sm" title="联系作者" onclick="window.open('http://wpa.qq.com/msgrd?v=3&uin=273013161&site=qq&menu=yes')">
                                <i class="fa fa-qq fa-fw" style="font-size: 15px"></i>
                            </button>
                        </li>
                        <!-- Dashboard-->
                        <li>
                            <a href="/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="/logfiles/html/"><i class="fa fa-file fa-fw"></i> <script>document.write(_("Logfiles"))</script></span></a>
                        </li>
                        <!-- 阅读日志-->
                        <li>
                            <a href="/read/html/"><i class="fa fa-file-text fa-fw"></i> <script>document.write(_("Reading"))</script></span></a>
                        </li>

                        <!-- 实时日志-->
                        <li>
                            <a href="/keepread/html/"><i class="fa fa-heartbeat fa-fw"></i> <script>document.write(_("Keep reading"))</script></span></a>
                        </li>

                        <!-- 日志图表-->
                        <li>
                            <a href="/charts/html/"><i class="fa fa-line-chart fa-fw"></i> <script>document.write(_("Charts"))</script></span></a>
                        </li>

                        {% if requser.get('role') == 1 or requser.get('username') == 'guest' %}
                        <!-- 用户-->
                        <li class="role1">
                            <a href="/users/html/" class="role1"><i class="fa fa-users fa-fw"></i> <script>document.write(_("Users"))</script></span></a>
                        </li>
                        <!-- 审计-->
                        <li class="role1">
                            <a href="/auditlogs/html/" class="role1"><i class="fa fa-calendar-check-o fa-fw"></i> <script>document.write(_("Auditlogs"))</script></span></a>
                        </li>
                        {% end %}
                        <!--
                        <li>
                            <a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">Second Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Second Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Third Level <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                    </ul>

                                </li>-->
                            </ul>

                        </li>
                    </ul>