                    <ul class="nav" id="side-menu">
                        <!--<li class="sidebar-search">-->
                            <!--<div class="input-group custom-search-form">-->
                                <!--<input type="text" class="form-control" placeholder="Search...">-->
                                <!--<span class="input-group-btn">-->
                                <!--<button class="btn btn-default" type="button">-->
                                    <!--<i class="fa fa-search"></i>-->
                                <!--</button>-->
                            <!--</span>-->
                            <!--</div>-->
                        <!--</li>-->
                        <li class="sidebar-search" style="padding-top: 10px; padding-bottom: 10px">
                            <button class="btn btn-social-icon btn-default btn-sm" title="https://github.com/olajowon/loggrove" onclick="window.open('https://github.com/olajowon/loggrove')">
                                <i class="fa fa-github fa-fw" style="font-size: 20px"></i>
                            </button>
                            <button class="btn btn-social-icon btn-default btn-sm" data-toggle="modal" data-target="#qqModal">
                                <i class="fa fa-qq fa-fw" style="font-size: 15px" title="QQ群"></i>
                            </button>
                        </li>
                        <!-- Dashboard-->
                        <li>
                            <a href="/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <!-- 本地日志目录 -->
                        <li>
                            <a href="/local_log/dir/html/"><i class="fa fa-folder-open fa-fw"></i> 日志目录</a>
                        </li>
                        <!-- 本地日志文件 -->
                        <li>
                            <a href="/local_log/file/html/"><i class="fa fa-file fa-fw"></i> 日志文件</span></a>
                        </li>
                        <!-- 本地日志图表-->
                        <li>
                            <a href="/local_log/chart/html/"><i class="fa fa-line-chart fa-fw"></i> 日志图表</span></a>
                        </li>
                        <!-- 阅读本地日志-->
                        <li>
                            <a href="/local_log/read/html/"><i class="fa fa-file-text fa-fw"></i> 日志阅读</span></a>
                        </li>
                        <!-- 轮询本地日志-->
                        <li>
                            <a href="/local_log/keepread/html/"><i class="fa fa-heartbeat fa-fw"></i> 日志轮询</span></a>
                        </li>
                        <!-- 用户-->
                        <li class="role1">
                            <a href="/user/html/" class="role1"><i class="fa fa-users fa-fw"></i> 用户</span></a>
                        </li>
                        <!-- 审计-->
                        <li class="role1">
                            <a href="/auditlog/html/" class="role1"><i class="fa fa-calendar-check-o fa-fw"></i> 审计</span></a>
                        </li>
                        <!--
                        <li>
                            <a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">Second Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Second Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Third Level <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                    </ul>

                                </li>-->
                            </ul>

                        </li>
                    </ul>