{% extends 'base.html' %}
{% block title %}
日志阅读
{% end %}
{% block style %}
<style>
    #paging span {
        cursor: pointer
    }

    .disabled {
        pointer-events: none;
        cursor: default;
    }
</style>
{% end %}
{% block head_js %}
<script src="{{ static_url('js/read.js') }}"></script>

{% end %}
{% block breadcrumb %}
<li><i class="fa fa-file-text fa-fw"></i>
    <script>document.write(_("Reading"))</script>
</li>
{% end %}
{% block content %}
<div class="row">
    <div class="col-sm-12 col-lg-10">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12 col-lg-10">
                        <form role="form" class="form-horizontal" id="logfile_form">
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <label class="control-label">
                                        <script>document.write(_("Logfile"))</script>
                                        *</label>
                                    <input type="text" name="logfile" class="form-control"
                                           placeholder="日志文件（支持按名称、主机、路径、备注模糊查找）" autocomplete="off"
                                           data-provide="typeahead">
                                    <span name="logfile_error" class="error_text"></span>
                                </div>
                                <div class="col-sm-6">
                                    <label class="control-label">
                                        <script>document.write(_("Host"))</script>
                                        *</label>
                                    <select class="form-control selectpicker" name="host" data-live-search="true">
                                        <option value=""> 请先选择日志文件 </option>
                                    </select>
                                    <span name="host_error" class="error_text"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <label>
                                        <script>document.write(_("Path"))</script>
                                        *</label>
                                    <select class="form-control selectpicker" name="path" data-live-search="true">
                                        <option value=""> 请先选择主机地址 </option>
                                    </select>
                                    <span name="path_error" class="error_text"></span>
                                </div>
                                <div class="col-sm-6">
                                    <label>
                                        <script>document.write(_("Match"))</script>
                                    </label>
                                    <input type="text" class="form-control" name="match" autocomplete="off"
                                           data-provide="typeahead">
                                    <span name="match_error" class="error_text"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="filter_search_line" checked>
                                        <script>document.write(_("Only view and output matching lines"))</script>
                                    </label>
                                    <button style="float: right" type="button" class="btn btn-default" onclick="logfile_read()">
                                        <script>document.write(_("View"))</script>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="log_content_row" style="display: none">
    <div class="col-sm-12 col-lg-10" style="clear: both; ">
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color: #fff">
                <table class="table" style="margin-bottom: 0px">
                    <thead>
                    <tr>
                        <th>文件总行数</th>
                        <th>匹配总行数</th>
                        <th>窗口行数</th>
                        <th>高亮行数</th>
                        <th>页码</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td id="total_lines"></td>
                        <td id="match_lines"></td>
                        <td id="lines"></td>
                        <td id="highlight_lines"></td>
                        <td><span id="page"></span>/<span id="total_pages"></span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12" style="max-height:500px;overflow:auto; clear: both;line-height: 20px;"
                         id="log_content">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-lg-10" id="paging" style="clear: both; text-align:center; padding-bottom: 20px">
    </div>
</div>

{% end %}
{% block body_js %}
<script>
    $("input[name='logfile']").typeahead({
        delay: 500,
        autoSelect: false,
        showHintOnFocus: true,
        selectOnBlur: false,
        changeInputOnSelect: true,
        source: function (search, process) {
            var param = {search: search, order: "asc", sort: "path", offset: 0, limit: 100};
            $.get('/logfiles/', param, function (response_data) {
                var data = jQuery.parseJSON(response_data).data
                process(data);
            });
        },
        matcher: function (items) {
            return items;
        },
        updater: function (item) {
            return item.name;
        },
        displayText: function (item) {
            return item.name;
        }
    });

    $("input[name='match']").typeahead({
        delay: 500,
        autoSelect: false,
        showHintOnFocus: true,
        selectOnBlur: false,
        changeInputOnSelect: true,
        source: function (search, process) {
            var param = {logfile: $("input[name='logfile']").val(), match: search};
            $.get('/match_patterns/', param, function (response_data) {
                var data = jQuery.parseJSON(response_data).data;
                process(data);
            });
        },
        matcher: function (items) {
            return items;
        },
        updater: function (item) {
            return item;
        },
        displayText: function (item) {
            return item;
        }
    });


    $(function () {
        curr_logfile = null;
        $("input[name='logfile']").blur(function () {
            if ($(this).val() == curr_logfile) {
                return
            } else {
                curr_logfile = $("input[name='logfile']").val()
            }

            var logfile = $("input[name='logfile']").val()

            $("#logfile_form select[name='path']").html('<option value=""> 请先选择主机地址 </option>')
            $("#logfile_form select[name='path']").selectpicker('refresh');
            $("#logfile_form select[name='path']").selectpicker('render');
            if (!logfile) {
                $("#logfile_form select[name='host']").html('<option value=""> 请先选择日志文件 </option>')
                $("#logfile_form select[name='host']").selectpicker('refresh');
                $("#logfile_form select[name='host']").selectpicker('render');
            } else {
                $("#logfile_form select[name='host']").html('<option value=""> 正在获取主机地址... </option>')
                $("#logfile_form select[name='host']").selectpicker('refresh');
                $("#logfile_form select[name='host']").selectpicker('render');

                $.ajax({
                    url: "/logfiles/",
                    type: "GET",
                    data: {"name": logfile},
                    success: function (result) {
                        var response_data = jQuery.parseJSON(result)
                        var data = response_data["data"]
                        var select_option_html = '<option value=""> ---- </option>'
                        if (data.length > 0) {
                            var host = data[0]["host"]
                            var hosts = host.split(",")
                            for (var i = 0; i < hosts.length; i++) {
                                select_option_html += ("<option value='" +
                                        hosts[i] + "'>" + hosts[i] + "</option>")
                            }
                        }

                        $("#logfile_form select[name='host']").html(select_option_html);
                        $("#logfile_form select[name='host']").selectpicker('refresh');
                        $("#logfile_form select[name='host']").selectpicker('render');
                    },
                    error: function (result) {
                        $("#logfile_form select[name='host']").html('<option value=""> ---- </option>')
                        $("#logfile_form select[name='host']").selectpicker('refresh');
                        $("#logfile_form select[name='host']").selectpicker('render');
                    }
                })
            }
        });

        $("#logfile_form select[name='host']").change(function () {
            console.log('host change')
            var host = $(this).val()
            var logfile = $("input[name='logfile']").val()
            if (!host) {
                $("#logfile_form select[name='path']").html('<option value=""> 请先选择主机地址 </option>')
                $("#logfile_form select[name='path']").selectpicker('refresh');
                $("#logfile_form select[name='path']").selectpicker('render');
            } else {
                $("#logfile_form select[name='path']").html('<option value=""> 正在获取文件路径... </option>')
                $("#logfile_form select[name='path']").selectpicker('refresh');
                $("#logfile_form select[name='path']").selectpicker('render');


                $.ajax({
                    url: "/paths/",
                    type: "GET",
                    data: {"logfile": logfile, "host": host},
                    success: function (result) {
                        var response_data = jQuery.parseJSON(result)
                        var data = response_data['data']
                        var select_option_html = '<option value=""> ---- </option>'
                        for (var i = 0; i < data.length; i++) {
                            select_option_html += ("<option value='" +
                                    data[i] + "'>" + data[i] + "</option>")
                        }
                        $("#logfile_form select[name='path']").html(select_option_html);
                        $("#logfile_form select[name='path']").selectpicker('refresh');
                        $("#logfile_form select[name='path']").selectpicker('render');
                    },
                    error: function (result) {
                    }
                })
            }
        })
    })
</script>
{% end %}