{% extends 'base.html' %}
{% block title %}
用户
{% end %}
{% block style %}
<style>
</style>
{% end %}
{% block head_js %}
<script src="{{ static_url('js/user.js') }}"></script>
<script>
        $.ajax({
            url:"/user/",
            type:"GET",
            data:'',
            success:function (result) {
                $("#user_table tbody").empty()
                var response_data = jQuery.parseJSON(result)
                var data = response_data['data']
                for(var i=0; i<data.length; i++){
                    var tr_html = "<tr id='tr" + data[i]["id"] + "'>" +
                            "<td>" + data[i]["username"] +  "</td>" +
                            "<td>" + data[i]["fullname"] +  "</td>" +
                            "<td>" + data[i]["email"] +  "</td>" +
                            "<td>" + data[i]["join_time"] +  "</td>" +
                            "<td>" + (data[i]["status"]=="1"?"活动":"禁用") +  "</td>" +
                            "<td>" + (data[i]["role"]=="1" ? "超级管理员" : (data[i]["role"]=="2" ? "管理员" : "普通用户")) +  "</td>" +
                            "<td >" +
                                "<button class='btn btn-xs btn-danger role1' " +
                                    "onclick='delete_user(" + data[i]["id"] + ")'>删除</button>&nbsp;" +
                                "<button class='btn btn-xs btn-warning role1' " +
                                    "onclick='open_update_user_modal(" + data[i]["id"] + ")'>编辑</button>&nbsp;" +
                                "<button class='btn btn-xs btn-primary role1' " +
                                    "onclick='open_reset_password_modal(" + data[i]["id"] + ")'>重置密码</button>&nbsp;" +
                            "</td></tr>"
                    $("#user_table tbody").append(tr_html)
                }
            },
            error:function (result) {}
        })
</script>
{% end %}
{% block breadcrumb %}
<li><i class="fa fa-users fa-fw"></i> 用户</li>
{% end %}
{% block content %}

<div class="row">
    <div class="col-sm-12 col-lg-10" style="clear: both">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-table fa-fw"></i> 用户列表
                <div class="pull-right">
                    <button class="btn btn-xs btn-success role1" data-toggle="modal" data-target="#addModal"> <i class="fa fa-plus fa-fw" style=""></i> 添加 </button>
                </div>
            </div>
            <div class="panel-body">
                <div class="table-responsive" style="border: 0">
                    <table width="100%" class="table table-striped table-bordered table-hover" id="user_table">
                        <thead>
                            <tr>
                                <th>用户名</th>
                                <th>姓名</th>
                                <th>邮箱</th>
                                <th>加入时间</th>
                                <th>状态</th>
                                <th>角色</th>
                                <th class="role1">选项</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- 添加用户模态框（Add Modal） -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="addModalLabel">
					<i class="fa fa-plus fa-fw" style=""></i> 添加用户
				</h4>
			</div>
			<div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div></div>
                        <form role="form" id="add_user_form" class="form-horizontal">
                            {% raw xsrf_form_html() %}
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label>用户名 *</label>
                                    <input class="form-control" name="username" placeholder="Username">
                                    <span class="error_text"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label>密码 *</label>
                                    <input class="form-control" type="password" name="password" placeholder="Password">
                                    <span class="error_text"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label>确认密码 *</label>
                                    <input class="form-control" type="password" name="confirm_password" placeholder="Confirm password">
                                    <span class="error_text"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label>姓名</label>
                                    <input class="form-control" name="fullname" placeholder="Fullname">
                                    <span class="error_text"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label>邮箱 *</label>
                                    <input class="form-control" name="email" placeholder="Email">
                                    <span class="error_text"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label>状态 *</label>
                                    <select class="form-control" name="status">
                                        <option value="1">活动</option>
                                        <option value="2">禁用</option>
                                    </select>
                                    <span class="error_text"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label>角色 *</label>
                                    <select class="form-control" name="role">
                                        <option value="3">普通用户</option>
                                        <option value="2">管理员</option>
                                        <option value="1">超级管理员</option>
                                    </select>
                                    <span class="error_text"></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
				<button type="button" class="btn btn-primary" onclick="add_user()">
					提交
				</button>
			</div>
		</div>
	</div>
</div>

<!-- 更新用户模态框（Update Modal） -->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="updateLabel">
					<i class="fa fa-pencil-square-o fa-fw" style=""></i> 编辑用户
				</h4>
			</div>
			<div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div></div>
                        <form role="form" id="update_user_form" class="form-horizontal">
                            {% raw xsrf_form_html() %}
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label>用户名 *</label>
                                    <input class="form-control" name="username" placeholder="Username">
                                    <span class="error_text"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label>姓名</label>
                                    <input class="form-control" name="fullname" placeholder="Fullname">
                                    <span class="error_text"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label>邮箱 *</label>
                                    <input class="form-control" name="email" placeholder="Email">
                                    <span class="error_text"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label>状态 *</label>
                                    <select class="form-control" name="status">
                                        <option value="1">活动</option>
                                        <option value="2">禁用</option>
                                    </select>
                                    <span class="error_text"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label>角色 *</label>
                                    <select class="form-control" name="role">
                                        <option value="3">普通用户</option>
                                        <option value="2">管理员</option>
                                        <option value="1">超级管理员</option>
                                    </select>
                                    <span class="error_text"></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
				<button type="button" class="btn btn-primary" onclick="update_user()">
					提交
				</button>
			</div>
		</div>
	</div>
</div>


<!-- 重置密码模态框（Reset password Modal） -->
<div class="modal fade" id="resetPasswordModal" tabindex="-1" role="dialog" aria-labelledby="resetPasswordModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="resetPasswordLabel">
					<i class="fa fa-pencil-square-o fa-fw" style=""></i> 重置密码
				</h4>
			</div>
			<div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div></div>
                        <form role="form" id="reset_password_form" class="form-horizontal">
                            {% raw xsrf_form_html() %}
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label>密码 *</label>
                                    <input class="form-control" type="password" name="password" placeholder="Password">
                                    <span class="error_text"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label>确认密码 *</label>
                                    <input class="form-control" type="password" name="confirm_password" placeholder="Confirm password">
                                    <span class="error_text"></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
				<button type="button" class="btn btn-primary" onclick="reset_password()">
					提交
				</button>
			</div>
		</div>
	</div>
</div>

{% end %}
{% block body_js %}
<script>
    //$("#addModal").modal("show")
    $(function(){
        user_datatable = $('#user_table').DataTable({
            aaSorting : [[3, "desc"]],
            language:{
                "emptyTable":     "表中没有可用数据",
                "info": "当前 _START_ - _END_ 条，共 _TOTAL_ 条",
                "infoFiltered":   "",
                "infoPostFix":    "",
                "thousands":      ",",
                "infoEmpty": "_TOTAL_ 条",
                "lengthMenu":     "每页 _MENU_ 条",
                "loadingRecords": "加载中...",
                "processing":     "处理中...",
                "search": "搜索:",
                "paginate": {
                    "first":      "首页",
                    "last":       "尾页",
                    "next":       "下一页",
                    "previous":   "上一页"
                },
            }

        });
    })
</script>
{% end %}