{% extends 'base.html' %}
{% block title %}
用户
{% end %}
{% block style %}
<style>
    #user_table td {word-break: keep-all; white-space:nowrap; }
    #user_table th {word-break: keep-all; white-space:nowrap; }
</style>
{% end %}
{% block head_js %}
<script src="{{ static_url('js/user.js') }}"></script>
{% end %}
{% block breadcrumb %}
<li><i class="fa fa-users fa-fw"></i> <script>document.write(_("Users"))</script></li>
{% end %}
{% block content %}

<div class="row">
    <div class="col-sm-12 col-lg-10" style="clear: both">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-table fa-fw"></i> <script>document.write(_("User list"))</script>
                <div class="pull-right">
                    <button class="btn btn-xs btn-success role1" data-toggle="modal" data-target="#addModal"> <i class="fa fa-plus fa-fw" style=""></i> <script>document.write(_("Add"))</script> </button>
                </div>
            </div>
            <div class="panel-body">
                <div class="table-responsive" style="border: 0">
                    <table id="user_table">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- 添加用户模态框（Add Modal） -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="addModalLabel">
                    <i class="fa fa-plus fa-fw" style=""></i> <script>document.write(_("Add user"))</script>
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div></div>
                        <form role="form" id="add_user_form" class="form-horizontal">
                            {% raw xsrf_form_html() %}
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label><script>document.write(_("Username"))</script> *</label>
                                    <input class="form-control" name="username" placeholder="Username">
                                    <span class="error_text"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label><script>document.write(_("Password"))</script> *</label>
                                    <input class="form-control" type="password" name="password" placeholder="Password">
                                    <span class="error_text"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label><script>document.write(_("Confirm password"))</script> *</label>
                                    <input class="form-control" type="password" name="confirm_password" placeholder="Confirm password">
                                    <span class="error_text"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label><script>document.write(_("Fullname"))</script></label>
                                    <input class="form-control" name="fullname" placeholder="Fullname">
                                    <span class="error_text"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label><script>document.write(_("Email"))</script> *</label>
                                    <input class="form-control" name="email" placeholder="Email">
                                    <span class="error_text"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label><script>document.write(_("Status"))</script> *</label>
                                    <select class="form-control" name="status">
                                        <option value="1"><script>document.write(_("Active"))</script></option>
                                        <option value="2"><script>document.write(_("Disabled"))</script></option>
                                    </select>
                                    <span class="error_text"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label><script>document.write(_("Role"))</script> *</label>
                                    <select class="form-control" name="role">
                                        <option value="3"><script>document.write(_("Ordinaryuser"))</script></option>
                                        <option value="2"><script>document.write(_("Admin"))</script></option>
                                        <option value="1"><script>document.write(_("Superadmin"))</script></option>
                                    </select>
                                    <span class="error_text"></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><script>document.write(_("Close"))</script>
                </button>
                <button type="button" class="btn btn-primary" onclick="add_user()">
                    <script>document.write(_("Submit"))</script>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- 更新用户模态框（Update Modal） -->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="updateLabel">
                    <i class="fa fa-pencil-square-o fa-fw" style=""></i> <script>document.write(_("Update user"))</script>
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div></div>
                        <form role="form" id="update_user_form" class="form-horizontal">
                            {% raw xsrf_form_html() %}
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label><script>document.write(_("Username"))</script> *</label>
                                    <input class="form-control" name="username" placeholder="Username">
                                    <span class="error_text"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label><script>document.write(_("Fullname"))</script></label>
                                    <input class="form-control" name="fullname" placeholder="Fullname">
                                    <span class="error_text"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label><script>document.write(_("Email"))</script> *</label>
                                    <input class="form-control" name="email" placeholder="Email">
                                    <span class="error_text"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label><script>document.write(_("Status"))</script> *</label>
                                    <select class="form-control" name="status">
                                        <option value="1"><script>document.write(_("Active"))</script></option>
                                        <option value="2"><script>document.write(_("Disabled"))</script></option>
                                    </select>
                                    <span class="error_text"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label><script>document.write(_("Update user"))</script> *</label>
                                    <select class="form-control" name="role">
                                        <option value="3"><script>document.write(_("Ordinaryuser"))</script></option>
                                        <option value="2"><script>document.write(_("Admin"))</script></option>
                                        <option value="1"><script>document.write(_("Superadmin"))</script></option>
                                    </select>
                                    <span class="error_text"></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><script>document.write(_("Close"))</script>
                </button>
                <button type="button" class="btn btn-primary" onclick="update_user()">
                    <script>document.write(_("Submit"))</script>
                </button>
            </div>
        </div>
    </div>
</div>


<!-- 重置密码模态框（Reset password Modal） -->
<div class="modal fade" id="resetPasswordModal" tabindex="-1" role="dialog" aria-labelledby="resetPasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="resetPasswordLabel">
                    <i class="fa fa-pencil-square-o fa-fw" style=""></i> <script>document.write(_("Reset password"))</script>
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div></div>
                        <form role="form" id="reset_password_form" class="form-horizontal">
                            {% raw xsrf_form_html() %}
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label><script>document.write(_("Password"))</script> *</label>
                                    <input class="form-control" type="password" name="password" placeholder="Password">
                                    <span class="error_text"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label><script>document.write(_("Confirm password"))</script> *</label>
                                    <input class="form-control" type="password" name="confirm_password" placeholder="Confirm password">
                                    <span class="error_text"></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><script>document.write(_("Close"))</script>
                </button>
                <button type="button" class="btn btn-primary" onclick="reset_password()">
                    <script>document.write(_("Submit"))</script>
                </button>
            </div>
        </div>
    </div>
</div>

{% end %}
{% block body_js %}
<script>
    function role_formatter(value, row) {
        return (value == 1 ? _("Superadmin") : (value==2 ? _("Admin") : _("Ordinaryuser")))
    }

    function status_formatter(value, row) {
        return (value == 1 ? _("Active") : _("Disabled"))
    }

    $(function(){
        $('#user_table').bootstrapTable({
            locale: language,
            columns: [{
                field: 'id',
                title: 'ID',
                sortable: true
            }, {
                field: 'username',
                title: _("Username"),
                sortable: true,
            }, {
                field: 'fullname',
                title: _("Fullname"),
                sortable: true
            }, {
                field: 'email',
                title: _("Email"),
                sortable: true
            }, {
                field: 'join_time',
                title: _("Join time"),
                sortable: true
            }, {
                field: 'role',
                title: _("Role"),
                sortable: true,
                formatter: role_formatter,
            }, {
                field: 'status',
                title: _("Status"),
                sortable: true,
                formatter: status_formatter,
            }, {
                field: 'option',
                title: _("Option"),
            },],
            uniqueId: "id",
            toggle: "table",
            search: "true",
            searchOnEnterKey: true,
            sidePagination: "server",
            pagination: true,
            url:"/users/",
            responseHandler:function(data){
                var rows = []
                for(var i=0;i<data["data"].length;i++){
                    data["data"][i]["option"] = "<button class='btn btn-xs btn-danger role1' " +
                                "onclick='delete_user(" + data["data"][i]["id"] + ")'>"+ _("Delete") +"</button>&nbsp;" +
                            "<button class='btn btn-xs btn-warning role1' " +
                                "onclick='open_update_modal(" + data["data"][i]["id"] + ")'>"+ _("Update") +"</button>&nbsp;" +
                            "<button class='btn btn-xs btn-primary role1' " +
                                "onclick='open_reset_password_modal(" + data["data"][i]["id"] + ")'>"+ _("Reset password") +"</button>"
                    rows.push(data["data"][i])
                }
                return {"total": data["total"], "rows": rows}
            },
        });
    })
</script>
{% end %}