{% extends 'base.html' %}
{% block title %}
用户
{% end %}
{% block style %}
<style>
    #user_table td {word-break: keep-all; white-space:nowrap; }
    #user_table th {word-break: keep-all; white-space:nowrap; }
</style>
{% end %}
{% block head_js %}
<script src="{{ static_url('js/user.js') }}"></script>
{% end %}
{% block breadcrumb %}
<li><i class="fa fa-users fa-fw"></i> 用户</li>
{% end %}
{% block content %}

<div class="row">
    <div class="col-sm-12 col-lg-10" style="clear: both">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-table fa-fw"></i> 用户列表
                <div class="pull-right">
                    <button class="btn btn-xs btn-success role1" data-toggle="modal" data-target="#addModal"> <i class="fa fa-plus fa-fw" style=""></i> 添加 </button>
                </div>
            </div>
            <div class="panel-body">
                <div class="table-responsive" style="border: 0">
                    <table id="user_table">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- 添加用户模态框（Add Modal） -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="addModalLabel">
                    <i class="fa fa-plus fa-fw" style=""></i> 添加用户
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div></div>
                        <form role="form" id="add_user_form" class="form-horizontal">
                            {% raw xsrf_form_html() %}
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label>用户名 *</label>
                                    <input class="form-control" name="username" placeholder="Username">
                                    <span class="error_text"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label>密码 *</label>
                                    <input class="form-control" type="password" name="password" placeholder="Password">
                                    <span class="error_text"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label>确认密码 *</label>
                                    <input class="form-control" type="password" name="confirm_password" placeholder="Confirm password">
                                    <span class="error_text"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label>姓名</label>
                                    <input class="form-control" name="fullname" placeholder="Fullname">
                                    <span class="error_text"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label>邮箱 *</label>
                                    <input class="form-control" name="email" placeholder="Email">
                                    <span class="error_text"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label>状态 *</label>
                                    <select class="form-control" name="status">
                                        <option value="1">活动</option>
                                        <option value="2">禁用</option>
                                    </select>
                                    <span class="error_text"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label>角色 *</label>
                                    <select class="form-control" name="role">
                                        <option value="3">普通用户</option>
                                        <option value="2">管理员</option>
                                        <option value="1">超级管理员</option>
                                    </select>
                                    <span class="error_text"></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary" onclick="add_user()">
                    提交
                </button>
            </div>
        </div>
    </div>
</div>

<!-- 更新用户模态框（Update Modal） -->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="updateLabel">
                    <i class="fa fa-pencil-square-o fa-fw" style=""></i> 编辑用户
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div></div>
                        <form role="form" id="update_user_form" class="form-horizontal">
                            {% raw xsrf_form_html() %}
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label>用户名 *</label>
                                    <input class="form-control" name="username" placeholder="Username">
                                    <span class="error_text"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label>姓名</label>
                                    <input class="form-control" name="fullname" placeholder="Fullname">
                                    <span class="error_text"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label>邮箱 *</label>
                                    <input class="form-control" name="email" placeholder="Email">
                                    <span class="error_text"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label>状态 *</label>
                                    <select class="form-control" name="status">
                                        <option value="1">活动</option>
                                        <option value="2">禁用</option>
                                    </select>
                                    <span class="error_text"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label>角色 *</label>
                                    <select class="form-control" name="role">
                                        <option value="3">普通用户</option>
                                        <option value="2">管理员</option>
                                        <option value="1">超级管理员</option>
                                    </select>
                                    <span class="error_text"></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary" onclick="update_user()">
                    提交
                </button>
            </div>
        </div>
    </div>
</div>


<!-- 重置密码模态框（Reset password Modal） -->
<div class="modal fade" id="resetPasswordModal" tabindex="-1" role="dialog" aria-labelledby="resetPasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="resetPasswordLabel">
                    <i class="fa fa-pencil-square-o fa-fw" style=""></i> 重置密码
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div></div>
                        <form role="form" id="reset_password_form" class="form-horizontal">
                            {% raw xsrf_form_html() %}
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label>密码 *</label>
                                    <input class="form-control" type="password" name="password" placeholder="Password">
                                    <span class="error_text"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label>确认密码 *</label>
                                    <input class="form-control" type="password" name="confirm_password" placeholder="Confirm password">
                                    <span class="error_text"></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary" onclick="reset_password()">
                    提交
                </button>
            </div>
        </div>
    </div>
</div>

{% end %}
{% block body_js %}
<script>
    function role_formatter(value, row) {
        return (value == 1 ? "超级管理员" : (value==2 ? "管理员" : "普通用户"))
    }

    function status_formatter(value, row) {
        return (value == 1 ? "活动" : "禁用")
    }

    $(function(){
        $('#user_table').bootstrapTable({
            columns: [{
                field: 'id',
                title: 'ID',
                sortable: true
            }, {
                field: 'username',
                title: '用户名',
                sortable: true,
            }, {
                field: 'fullname',
                title: '姓名',
                sortable: true
            }, {
                field: 'email',
                title: '邮箱',
                sortable: true
            }, {
                field: 'join_time',
                title: '加入时间',
                sortable: true
            }, {
                field: 'role',
                title: '角色',
                sortable: true,
                formatter: role_formatter,
            }, {
                field: 'status',
                title: '状态',
                sortable: true,
                formatter: status_formatter,
            }, {
                field: 'option',
                title: '选项',
            },],
            uniqueId: "id",
            toggle: "table",
            search: "true",
            searchOnEnterKey: true,
            sidePagination: "server",
            pagination: true,
            url:"/users/",
            responseHandler:function(data){
                var rows = []
                for(var i=0;i<data["data"].length;i++){
                    data["data"][i]["option"] = "<button class='btn btn-xs btn-danger role1' " +
                                "onclick='delete_user(" + data["data"][i]["id"] + ")'>删除</button>&nbsp;" +
                            "<button class='btn btn-xs btn-warning role1' " +
                                "onclick='open_update_modal(" + data["data"][i]["id"] + ")'>编辑</button>&nbsp;" +
                            "<button class='btn btn-xs btn-primary role1' " +
                                "onclick='open_reset_password_modal(" + data["data"][i]["id"] + ")'>重置密码</button>"
                    rows.push(data["data"][i])
                }
                return {"total": data["total"], "rows": rows}
            },
        });
    })
</script>
{% end %}